/INSTALL
Makefile
Makefile.in
libtool
/m4/*
/build/*
/aclocal.m4
/autom4te.cache/
/config.*
/configure
/stamp-h?
.deps/
*.o
*.lo
*.la
*.dirstamp
/examples/demo_ebusdevice
/examples/demo_ebussequence
/examples/demo_ebusfsm
*.libs/
ebusfsm.pc
.cproject
.project
.settings
.autotools
*.tar.gz
