/INSTALL
Makefile
Makefile.in
libtool
/m4/*
/build/*
/aclocal.m4
/autom4te.cache/
/config.*
/configure
/stamp-h?
.deps/
*.o
*.lo
*.la
*.dirstamp
/test/test_telegram
/examples/demo_ebus
*.libs/
ebus.pc
.cproject
.project
.settings
.autotools
*.tar.gz
